<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--PAMIĘTAJ BY PRZEKOPIOWAC ZNACZNIKI <script>,<link> Z SAMEGO DOLU ZAMYKAJACEGO <body> !!!!!-->
<head>
    <meta charset="UTF-8"/>
    <title>Domtel v2</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" th:include="@{header}">
        </div>
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Nazwa Planu</th>
                    <th>Nazwisko Trenera</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plan : ${plans}">
                    <td><a th:href="@{/training_plans/{id}(id=${plan.trainingPlanId})}" th:text="${plan.planName}"></a>
                    </td>
                    <td th:text="${plan.creatorName} + ' '+ ${plan.creatorSurname}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/all.min.css}"/>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</body>
</html>